h1 {
	color: #fff;
	background: linear-gradient(#fa709a, #fee140);
}
h2 {
	font-family: cursive;
	color: #fff;
	background: linear-gradient(#9be15b, #00e3ae);
}
h3 {
    background:linear-gradient(transparent 60%,#c8f1ff 60%)
}

a:link {
    color: #007bff;
    text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover {
    text-decoration: underline;
}

.th {
	color: orange;
}
.pr {
	color: #fa709a;
}
.ga {
	color:dodgerblue;
}
.html {
    color: #28a745;
}
.css {
	color: #804000;
}
.js {
	color:#fa709a;
}
.dom {
	color:#305088;
}
.iv {
	color:firebrick;
}
.co {
	color:goldenrod;
}
.te{
	color:#00e3ae;
}
.wo{
	color:#ebd262;
}
.st{
	color:#8c6b2a;
}
.su{
	color:#d5455a;
}