h1 {
	color: #fff;
	background: linear-gradient(#209cff, #68e0cf);
}
h2 {
    color: #454545;
    font-size: 20px;
    text-shadow: 3px 3px #81bedb;
    font-weight: bold;
}
li#na {
    color:aquamarine;
    font-size: 18px;
}
li#ac {
    color: #ff6666;
    font-size: 18px;
}
li#ad {
    color: #006633;
    font-size: 18px;
}
li#bu {
    color: #cc9900;
    font-size: 18px;
}
li#ca {
    color: #ffccff;
    font-size: 18px;
}
li#ge {
    color: #131356;
    font-size: 18px;
}
li#op {
    color: #ccccff;
    font-size: 18px;
}
li#st {
    color: #ccccff;
    font-size: 18px;
}
li#su {
    color: #ccccff;
    font-size: 18px;
}

ul li {
    margin-bottom: 15px;
}
