h1 {
	color: #fff;
	background: linear-gradient(#209cff, #68e0cf);
}
h2 {
    color: #454545;
    text-shadow: 3px 3px #81bedb;
    font-weight: bold;
}
h3 {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}
select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
li#na {
    color: #ff5722;
    font-size: 18px;
}
li#ac {
    color: #9c27b0;
    font-size: 18px;
}
li#ad {
    color: #2196f3;
    font-size: 18px;
}
li#bu {
    color: #ff9800;
    font-size: 18px;
}
li#ca {
    color: #673ab7;
    font-size: 18px;
}

li#ge {
    color: #006633;
    font-size: 18px;
}
li#op {
    color: #CC6677;
    font-size: 18px;
}
li#st {
    color: #AA4499;
    font-size: 18px;
}
li#su {
    color: #804000;
    font-size: 18px;
}
